@import '../../colors';
@import '../../dimensions';
@import '../../_mixins';

.App {
   max-width: units(80);
   margin: 0 auto;
   text-align: center;
   padding: $primarySpacing;
}

.title {
   color: $secondary;
}

.newGame {
   @include secondary-button;
}
