@import '../../colors';
@import '../../_mixins';

.App {
   max-width: 400px;
   margin: 0 auto;
   text-align: center;
   padding: 0.5rem;
}

.title {
   color: $secondary;
}

.newGame {
   @include secondary-button;
}
