@import '../../colors';
@import '../../dimensions';
@import '../../_mixins';

.title {
   color: $secondary;
}

.playerContainer {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "playerTitle playerTitle"
      "undertaken hits";
   grid-gap: $primarySpacing;
   margin: units(4) 0;
   padding-bottom: 3 * $primarySpacing;
}

.left {
   text-align: left;
   float: left;
}

.right {
   text-align: right;
   float: right;
}

.playerTitle {
   grid-area: playerTitle;
   display: flex;
   font-weight: bold;
   padding-bottom: $primarySpacing;
}

.playerName {
   flex-grow: 1;
}

.undertaken {
   grid-area: undertaken;
}

.hits {
   grid-area: hits;
}

.inputBox {
   width: 100%;
}

.error {
   color: red;
}

.submitButton {
   @include primary-button;
}

.resetRound {
   @include secondary-button;
}
