@import './colors';
@import './dimensions';

body {
   font-family: 'Open Sans', sans-serif;
   background-color: $background;
   color: $text;
   font-size: 120%;
}

input {
   border: none;
   border-bottom: solid 1px $disabled;
   padding: $primarySpacing 0;
   color: $text;
   font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
   -moz-appearance: textfield;
}

a {
   text-decoration: none;
}
