@import '../../colors';
@import '../../dimensions';
@import '../../_mixins';

.title {
   color: $secondary;
}

.container {
   margin: units(6) 0;
}

.input {
   width: calc(100% - #{units(2)});
}

.roundsInput {
   @extend .input;
}

.playerInput {
   @extend .input;
   margin-bottom: 2 * $primarySpacing;
}

.actions {
   margin-top: units(-2);
   padding-bottom: units(4);
}

.cancelButton {
   float: left;
   @include secondary-button;
}

.submitButton {
   float: right;
   @include primary-button;
}

.error {
   color: red;
   margin-bottom: $primarySpacing;
}
